@charset "utf-8";

@font-face {
	font-family: TitleFont;
	src: url("Fonts/Bebas_neue/BebasNeue-Regular.ttf")
}

* {
	box-sizing: border-box;
	overflow-x: hidden;
}

p {
	font-family: Arial, "Sans-serif";
	font-size: 1.1em;
}

a {
	outline: 0;
	text-decoration: none;
}
body {
	margin: 0px;
}
header {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: flex-start;
	align-items: baseline;
	border-bottom: 7px solid black;
	background-color: lightblue;
	height: 5%;
	box-shadow: 0px 3px 5px gray;
}

#name {
	font-family: TitleFont;
	font-weight: normal;
	font-size: 750%;
	margin-left: 0px;
	margin-top: 0px;
}

h2.title {
		font-family: TitleFont;
		font-size: 3.5em;
		font-weight: bold;
		margin: 20px;
		margin-top: 100px;
		text-align: center;
	}

#logo {
	width: 10%;
	height: auto;
	margin: 20px;
	margin-left: 28px;
}
nav#topNav {
	margin-left: auto;
	margin-bottom: 0px;
	margin-right: 20px;
	align-self: center;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	font-size: 1.5em;
	font-weight: bold;
	font-family: Arial, "Sans serif";
}

#logo, #name {
	margin-bottom: 0px;
	justify-self: start;
}
#topNav a:link, #topNav a:visited {
	display: inline-block;
	color: black;
	margin-left: 20px;
	margin-right: 20px;
	padding: 7px;
	transition: background-color 0.2s,border-radius 0.2s,box-shadow 0.2s;
}

#topNav a:hover, .current {
	background-color: rgba(1,238,6,1.00);
	border-radius: 10px;
	box-shadow: 0px 0px 5px gray;
}

footer {
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	border-top: 10px solid black;
	background-color: lightblue;
	padding: 20px;
	margin-top: 100px;
}
	
	address {
		font-style: normal;
		margin-left: 100px;
	}

#contact, #footerNav {
	border-bottom: 5px solid black;
}
	
	.ftrTitle {
		font-family: Arial; 
		font-weight: bold;
		font-size: 1.7em;
		margin-bottom: 5px;
		text-decoration: underline;
	}

ul {
		list-style-type: none;
		margin-left: 0px;
		padding-left: 0px;
	}

ul li {
		font-family: Arial, "Sans serif";
		font-weight: bold;
		font-size: 1.2em;
		margin-top: 0px;
}